<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AFC Teams</title>
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>
    <header>
      <h1>Basic team</h1>
    </header>



  </body>
</html>
